<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zwiggy</title>
    <link rel="stylesheet" href="/static/home.css">

  </head>
  <body>
    
    <div class="hero">
      <h1>Welcome to Zwiggy</h1>
      <p>Experience the finest dining with us.</p>
      <a href="http://localhost:8085/restaurants/" class="cta">View Restaurant Lists</a>
    </div>

    <!-- Top-right corner buttons -->
    <div class="top-buttons">
      <a href="http://localhost:8085/login/" class="cta-login">
       
        Login
      </a>
      <a href="http://localhost:8085/register/" class="cta-register">
      
        Register
      </a>
    </div>
    
  </body>
</html>
